<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{title}}</title>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="style.css">
</head>
<body>

<h2>{{title}}</h2>
<h3>Cantidad de votantes en el padron: {{cantidad_votantes}}. Cantidad de domicilios diferentes: {{cantidad_domicilios}}</h3>
<p>500 Domicilios con más electores. Click en el domicilio para ampliar</p>
<p>Desarrollado por <a href='http://andresvazquez.com.ar' target='_blank'>Andrés Vázquez</a> para <a href='http://opendatacordoba.org' target='_blank'>OpenDataCordba</a></p>
<section class="accordion" role="tablist" aria-multiselectable="true">

    {% for direccion, datos in direcciones %}
    <a class="accordion-panel__heading" href="javascript:;">{{direccion}} - {{datos.usos|length}} votantes</a>
    <div class="accordion-panel__content">
        <h4>Votantes en este domicilio</h4>
        {% for v in datos.usos_anon%}
            <p>{{v}}</p>
        {% endfor %}
    </div>
    {% endfor %}

</section>

<p><br><br></p>
<h4>View the Github page for this project here:</h4>
<p><a href="https://github.com/benbowes/Accessible-Accordian-Class-Pure-JS-CSS">https://github.com/benbowes/Accessible-Accordian-Class-Pure-JS-CSS</a></p>

<script src="myAPP.js"></script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24864140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
